{% extends "base.html" %}

{% block head %}
<!--<link rel="stylesheet" href="style.css">-->
<style>
    .table{
    border: 1px solid #eee;
    table-layout: fixed;
    width: 410px;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    }
    .table th {
    font-weight: bold;
    padding: 5px;
    background: #a675b6;
    border: 1px solid #dddddd;
    }
    .table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
    }
    .table tbody tr:nth-child(odd){
    background: #fff;
    }
    .table tbody tr:nth-child(even){
    background: #F7F7F7;
    }
    .button {
        width: 108px;
        height: 50px;
        text-decoration: none;
        padding-top: 9px;
        color: #a675b3;
        text-align: center;
        line-height: 20px;
        display: block;
        margin: 20px auto;
        font: normal 17px arial;
        }
</style>


{% endblock head %}

{% block content %}
<div class="container">
    <form action="/do_something" method="post">
       <label>Какую программу закроем?</label>
       <input type="text" name="data">
       <input class="button" type="submit" value="Close">
    </form>
    <p>Или закроем все?</p>
    <button onclick="CloseAllWin()" class="button" aria-current="page">
                        !Close All!
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>Window</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in result.items() %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ value }} </td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
{% endblock content %}